@import "tailwindcss";

@theme {

  --font-display: "inter";

  --color-primary: #37352f;
  --color-secondary: #ff0000;
  --color-tertiary: #ff00ff;
  --color-disabled: #d5d5d4;
  --color-white: #ffffff;
  --color-primary: #0d99ff;
  --color-success: #14ae5c;
  --color-failure: #f24822;
  --color-warning: #ffcd29;
  --color-Bg-0: #ffffff;
  --color-Bg-1: #f5f5f5;
  --color-Bg-2: #f1f0f1;
  --color-border-primary:#e6e6e6;

--text-body-16: 16px;
--text-h1: 30px;
--text-h2: 24px;
--text-h3: 20px;
--text-small-12: 12px;
--text-small-11: 11px;
--text-small-10: 10px;

--line-height-h1: 36px;
--line-height-h2: 32px;
--line-height-h3: 28px;
--line-height-body: 24px;
--line-height-small: 12px;
--letter-spacing-h1: -2.1%;
--letter-spacing-h2: -1.9%;
--letter-spacing-h3: -1.7%;
--letter-spacing-body: -1.1%;
--letter-spacing-small: -1.1%;
}
@layer base {
  h1 {
    font-size: var(--text-h1);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -2.1%;
  }
  h2 {
    font-size: var(--text-h2);
    font-weight: 600;
    line-height: var(--line-height-h2);
    letter-spacing: -1.9%;
  }
  h3 {
    font-size: var(--text-h3);
    font-weight: 600;
    line-height: var(--line-height-h3);
    letter-spacing: -1.7%;
  }
  p {
    font-size: var(--text-body-16);
    font-weight: 400;
    line-height: var(--line-height-body);
    letter-spacing: -1.1%;
  }
  small {
    font-size: var(--text-small-12);
    line-height: var(--line-height-small);
    letter-spacing: -1.1%;
  }
}
