@import "tailwindcss";

@theme {

  --font-display: "inter";

  --color-primary: #37352f;
  --color-secondary: #ff0000;
  --color-tertiary: #ff00ff;
  --color-disabled: #d5d5d4;
  --color-white: #ffffff;
  --color-primary: #0d99ff;
  --color-success: #14ae5c;
  --color-failure: #f24822;
  --color-warning: #ffcd29;
  --color-Bg-0: #ffffff;
  --color-Bg-1: #f5f5f5;
  --color-Bg-2: #f1f0f1;
  --color-border-primary:#e6e6e6;

--text-body-16: 16px;
--text-h1: 30px;
--text-h2: 24px;
--text-h3: 20px;
--text-small-12: 12px;
--text-small-11: 11px;
--text-small-10: 10px;

}
@layer base {
  h1 {{
    font-size: var(--text-h1);
  }
  }